.FloorMap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.FloorMap .wall {
    fill:#7d7d7d;
    fill-opacity:1;
    stroke:none;
    stroke-width:0.70110118;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.FloorMap .door_or_window {
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:1.40757048;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.FloorMap .room_or_desk {
    fill:#71ff71;
    fill-opacity:1;
    stroke:none;
    stroke-width:2.64583325;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.ZoomButtons {
    border: solid black 1px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 64px;
}

.ZoomButtons .button {
    height: 32px;
    width: 32px;
}

.ZoomButtons .button:first-child {
    border-bottom: solid black 1px;
}