* {
    padding: 0;
    margin: 0;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

@font-face {
    font-family: 'fontello';
    src: url('/font/fontello.eot?74054206');
    src: url('/font/fontello.eot?74054206#iefix') format('embedded-opentype'),
         url('/font/fontello.woff?74054206') format('woff'),
         url('/font/fontello.ttf?74054206') format('truetype'),
         url('/font/fontello.svg?74054206#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

$gray-10 : #eee;
$gray-20 : #ccc;
$gray-30 : #aaa;
$gray-40 : #888;
$gray-50 : #666;
$gray-60 : #444;
$gray-70 : #222;


$size-10 : 8px;
$size-20 : 16px;
$size-30 : 32px;
$size-40 : 64px;
$size-50 : 128px;

$border-radius : 10px;
$nav-border-radius : 30px;

%svg-default-style {
    fill-opacity:1;
    stroke:none;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

%float-under-element {
    z-index: 1;
    position: absolute;
    top: $size-30 + $size-10;
    left: 0;
    width: 100%;
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-left-big:before { content: '\e804'; } /* '' */
.icon-login:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */

.small {
    font-size: 11px;
}

.color-gray {
    color: $gray-40;
}

.zeroStyleButton {
    border: 0;
    background: transparent;
}

.inactiveFeature {
    background: $gray-20 !important;
}

.actionButtons {
    display: flex;
    justify-content: space-evenly;
}

.width50p {
    width: 50%;
}

.notificationManager, .settingsManager, .searchList, .ownReservations, .reservationPage, .advancedSearch {
    padding: $size-10;
    margin-top: $size-30 + $size-20;

    .navButton {
        width: $size-30;
        height: $size-30;
        background: $gray-20;
        padding: $size-10;
        border: 0;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        border-radius: $nav-border-radius;
    }
}

.notificationManager {
    .notifications {
        li {
            padding: $size-10;
            border-bottom: 1px solid $gray-20;

            .record {    
                display: flex;
                align-items: center;
    
                .name {
                    flex-grow: 1;
                }
    
                span, button {
                    border: 0;
                    padding: $size-10;
                }
    
                button {
                    background: $gray-20;
                    margin: $size-10 / 2;
                    border-radius: $nav-border-radius;
                    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                }
            }

            .setting {

                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    display: inline-block;
                    width: $size-50;
                }

                input {
                    width: $size-20;
                    height: $size-20;
                    margin-top: $size-10;
                }

                button {
                    background: $gray-20;
                    margin: $size-10 / 2;
                    border-radius: $nav-border-radius;
                    border: 0;
                    padding: $size-10;
                    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                }
            }
        }

    }
}

.ownReservations {
    ul {
        text-align: center;

        li {
            list-style-type: none;
            border-bottom: 1px solid $gray-20;
            padding: $size-10;

            button {
                margin-top: $size-10;
                padding: $size-10;
                border-radius: $border-radius;
                background: $gray-20;
                border: 0;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                
                &.reservation {
                    background: transparent;
                    box-shadow: 0 0 0 transparent;
                }
            }
        }
    }
}

.settingsManager {
    .userSettings {
        display: flex;
        flex-direction: column;

        div {
            padding-top: $size-10;
            display: flex;
            justify-content: space-between;

            button {
                margin: auto;
                margin-top: $size-10;
                padding: $size-10;
                border-radius: $border-radius;
                background: $gray-20;
                border: 0;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            }
        }
    }
}

.reservationPage {
    
    overflow-y: scroll;

    &>div {
        padding-top: $size-10;
        
        button {
            margin: $size-10;
            padding: $size-10;
            border-radius: $border-radius;
            background: $gray-20;
            border: 0;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        }

        .info {
            padding: $size-10;
        }

        .feedbacks {
            li {
                padding: $size-10;
                border-bottom: 1px solid $gray-30;

                &:first-child {
                    border-top: 1px solid $gray-30;
                }
            }
        }
    }

    .settings {
        padding: $size-10;

        &>div {
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                width: $size-40 + $size-30;
            }
        }

        input {
            width: $size-20;
            height: $size-20;
        }
    }

    .reservation {
        &>div {
            padding: $size-10 / 2 0;

            b {
                display: inline-block;
                width: $size-40;
            }
        }

        .currentReservations {
            ul {
                padding: $size-10;

                li {
                    list-style-type: none;
                    padding: $size-10 0;
                    border-bottom: 1px solid $gray-40;

                    &:first-child {
                        border-top: 1px solid $gray-40;
                    }
                }
            }
        }
    }
}

.searchList {
    div[class^="foundIn"] {
        padding-top: $size-10;

        &:last-child {
            border: 0;
        }

        .hitList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                border: 0;
                background: transparent;
                margin-top: $size-10;
                padding: $size-10;
                margin: $size-10 / 2;
                border-radius: $border-radius;
                background: $gray-20;
                border: 0;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            }
        }
    }
}

.advancedSearch {
    .wrapper {

        .settings {
            display: flex;
            flex-direction: column;

            &>div {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-top: $size-10;
            }

            input, select {
                box-sizing: content-box;
                padding: 1px;
                margin: 1px;
                border: 1px solid $gray-30;
            }
            
            input[type="checkbox"] {
                position: relative;
                top: 4px;
                width: $size-20;
                height: $size-20;
            }
        }

        button {
            border: 0;
            background: transparent;
            margin-top: $size-10;
            padding: $size-10;
            margin: $size-10 / 2;
            border-radius: $border-radius;
            background: $gray-20;
            border: 0;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        }
    }
}

.fixed {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header {
        background: transparent;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 1;
    
        &_button {
            top: -5px;
            position: relative;
            padding-top: 5px;
            background: white;
            width: $size-30;
            height: $size-30 + 5px;
            margin: 0 $size-10;
            border-radius: 0 0 $border-radius $border-radius;
            background: $gray-20;
            border: 0;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);

            &.selected {
                background: $gray-50;
                top: 0;
            }

            .unreadIcon {
                background: red;
                position: absolute;
                top: 5px;
                right: -5px;
                padding: 0 2px;
                border-radius: 2px;
                font-size: 12px;
            }
        }
    
        .spacer {
            flex-grow: 1;
        }

        .dropDown {
            @extend %float-under-element;
        }

        .floorSelector {
            @extend %float-under-element;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .selected {
                background: $gray-40;
            }
        }

        .quickSearch {
            @extend %float-under-element;
            display: flex;
            margin: $size-10;
            padding: $size-10;
            width: calc(100% - #{$size-20} * 2);
            background: white;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            border-radius: $border-radius;
            border: 1px solid $gray-10;

            input {
                flex-grow: 1;
                border: 0;
                background: white;
            }

            .searchBar {
                position: relative;
            }

            button {
                border: 0;
                background: transparent;
                padding-right: $size-10;
            }
        }

        .notificationList {
            border-radius: $border-radius;
            background: $gray-20;
            margin: $size-10;
            padding: $size-10;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);

            button {
                background: $gray-10;
                padding: $size-10;
                border: 0;
                border-radius: $border-radius;
            }

            ul li {
                list-style-type: none;
                margin: 0.5em 0;
                padding: 0.5em 0;
                border-top: 1px solid $gray-40;
            }

            ul li:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        .menu {
            background: $gray-20;
            margin: $size-10;
            padding: $size-10;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            border-radius: $border-radius;

            li {
                list-style-type: none;

                button {
                    padding: $size-10 ;
                    width: calc(100% - #{$size-10});
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid $gray-50;
                }

                &:last-child {
                    button {
                        border: 0;
                    }
                }
            }
        }
    }

    .content {
        flex-grow: 1;

        .floorPlan {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .zoom {
                position: absolute;
                bottom: $size-10;
                right: $size-20;
    
                button {
                    width: $size-30;
                    height: $size-30;
                    margin: $size-10;
                    border-radius: $border-radius;
                    border: 0;
                    background: $gray-20;
                    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                }
            }
        }
    
        #floorPlanSvg {
            .wall {
                @extend %svg-default-style;
                fill:#7d7d7d;
                stroke-width:0.70110118;
            }
            
            .door_or_window {
                @extend %svg-default-style;
                fill:#000000;
                stroke-width:1.40757048;
            }
            
            .room_or_desk {
                @extend %svg-default-style;
                fill:#71ff71;
                stroke-width:2.64583325;

                &[data-reserved="true"] {
                    fill:#ff7171;
                }
            }
            
            .room_or_desk:hover {
                fill: #71c6ff
            }    
        }
    }

    
}

.popUpNotification {
    position: fixed;
    width: calc(100% - #{$size-40} - #{$size-30});
    height: $size-40 + $size-20;
    bottom: $size-20;
    left: $size-20;
    background: $gray-20;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-radius: $border-radius;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);

    .navigation button {
        display: inline-block;
        width: $size-30;
        height: 50%;
    }

    .messageContainer {
        display: flex;
        flex-direction: column;

        .message {
            flex-grow: 1;
        }
    }

    .closeButton {
        padding: $size-10;
        text-align: right;
    }

    button {
        border: 0;
        background: transparent;
    }
}

.popUpWindow {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #887f7f7f;

    .window {
        position: fixed;
        background: $gray-40;
        width: calc(90% - #{$size-10 * 2});
        max-width: 500px;
        padding: $size-10;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        border-radius: $border-radius;
    }

    .feedbackContent {
        text-align: center;

        .stars {
            max-width: 250px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            
            button {
                border: 0;
                background: transparent;
                font-size: $size-30;
                color: yellow;
                text-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            }
        }

        .navButton {
            padding: $size-10;
            margin: $size-10;
            border-radius: $border-radius;
            border: 0;
            background: $gray-20;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        }

        input {
            width: 90%;
        }
    }

    .login {
        text-align: center;

        span {
            display: inline-block;
            width: 20%;
            padding: $size-10;
        }

        input {
            width: 70%;
        }

        button {
            padding: $size-10;
            margin: $size-10;
            border: 0;
            background: $gray-20;
            border-radius: $border-radius;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
        }
    }
}