* {
    padding: 0;
    margin: 0;
}

.navIcon {
    width:32px;
    height:32px;
    background-color:white;
}

.ControlButton {
    border: solid black 1px;
    width: 32px;
    height: 32px;
}

.fixed {
    position: fixed;
}

.FloorSelector {
    top: 0;
    left: 64px;
}

.Notification {
    top: 0;
    left: 16px;
}

.Search {
    top: 0;
    right: 64px;
}

.Menu {
    top: 0;
    right: 16px;
}

.PopUpNotification {
    border: solid black 1px;
    background: white;
    width: calc(100% - 8px - 64px - 1px);
    margin: 16px 8px;
    margin-right: 64px;
    bottom: 0;
    height: 64px;
}

.FullScreenWindow {
    overflow-x: scroll;
    border: solid black 1px;
    margin: 8px;
    margin-top: calc(32px + 8px);
    padding: 8px;
    text-align: justify;

}